@charset "UTF-8";

// @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700;900&family=Oswald:wght@700&display=swap");

$navy: #0c3a6e;
$clear-blue: #2693e7;

$primary-color-purple: #943a7e;
$accent-color-yellow: #f0c546;
$text: #3b3938;

$breakpoints: (
  //キー:値
  // "pc3": "(min-width: 1367px)" ,//1367以上のPC
  "pc": "(max-width: 1440px)",
  //1200px以上のPC
  "pc2": "(max-width: 1200px)",
  //1200px以下用の表示（タブレット〜PC）用の表示
  //  "sp2": "(max-width: 541px)", //767px以下（スマホ、タブレット）用の表示
  "sp": "(max-width: 414px)",
  "sp2": "(max-width:389px)"
) !default;

//メディアクエリ用のmixinを定義。
//初期値をspに設定すると、引数を何も入れないときはspが適応される
@mixin mq($breakpoint: sp) {
  //map-get(マップ型変数, キー)で値を取得
  @media #{map-get($breakpoints, $breakpoint)} {
    //この中をカスタムできる
    @content;
  }
}

html,
body {
  margin: 0px;
  padding: 0px;
  font-size: 62.5%;
  overflow-x: hidden;
  // @include mq(pc) {
  //   font-size: 0.625vw;
  // }
  @include mq(pc2) {
    font-size: 0.625vw;
  }
  @include mq(sp) {
    font-size: 62.5%;
  }
  @include mq(sp2) {
    font-size: 2.4155vw;
  }
  // @include mq(sp) {
  //   font-size: 2.4155vw;
  // }
}

body {
  font-size: 14px;
  // line-height: 1.71428;
  font-weight: 500;
  font-family: "Noto Sans JP", sans-serif;
  letter-spacing: 0.02rem;
  color: $text;
  @include mq(sp) {
    font-size: 14px;
  }
}

img {
  max-width: 100%;
  vertical-align: top;
  height: auto;
}

li {
  list-style: none;
}

ul {
  padding-left: 0;
  margin: 0 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  cursor: pointer;
  transition: all 0.3s;
}

p {
  margin: 0 0;
}

dd {
  margin-left: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.l-inner {
  margin: 0 auto;
  padding: 0 5rem;
  box-sizing: content-box;
  // max-width: 100%;
  max-width: 109.6rem;
  @include mq(sp) {
    //min-width: 335px;
    margin: 0 3rem;
    max-width: 100%;
    padding: 0;
  }
}
